/*
* @Author: huili.sun
* @Date:   2016-08-17 12:20:00
* @Last Modified by:   huili.sun
* @Last Modified time: 2016-08-22 10:24:16
*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
html,body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}
ul,li{
	list-style: none;
}
.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clear{zoom:1} 
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img{
	display: block;
}
body{
	background: #f4f6f9;
	 font-family: '微软雅黑',Source Sans Pro, Helvetica, sans-serif;
	width: 100%;
	overflow: auto;
}
.content_bg{
	background: #f4f6f9;
}
.gray_bg{
	background: #16325c;
}
.high_bg{
	background: #003077;
}
.light_bg{
	background: #fff;
}
.left{
	float: left;
}
.right{
	float: right;
}

.expand-transition {
    transition: all .5s ease-in-out 0.1s;
    overflow: inherit;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter,
.expand-leave {
    opacity: 0;
    height: 0;
}